.ticketcontApp {
    font-family: Arial, sans-serif;
    background-color: #0fd0d7;
    padding: 20px;
    margin: 20px;
  }
  .inputContainer {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
/* Button style */
.buttonmncls {
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #007bff; /* Blue color, change as desired */
    color: #fff; /* Text color for the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s; /* Smooth hover transition */
  }
  
  /* Hover effect */
  .buttonmncls:hover {
    background-color: #0056b3; /* Darker blue color for hover, change as desired */
  }
  
  /* Focus styles */
  .buttonmncls:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adjust the shadow as needed */
  }
  /* Style  for the select element */
.selectcls {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
  }
  select:focus,
  select:hover {
    border-color: #007bff;
  }
  /*Submit button class*/
  .submitBtn {
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;

  }
  .submitBtn:hover {
    background-color: #4571a0; 
  }
  .submitBtn:focus {
    outline: none;
    box-shadow: 0 0 5px #4CAF50; 
  }
  .canclBtn {
    padding: 10px 20px; 
  background-color: #d9534f;
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s; /* Smooth hover transition */
  }
  .canclBtn:hover {
    background-color: #c0392b; 
  }
  
    
  p {
    color: red;
    margin: 5px 0;
  }
  
  /*For List Page*/

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }